.darkmode{
    background-color: black;
    color: white;
}
.whitemode{
    background-color: white;
    color: black;
}
.alert-box1{
    width: 500px;
    background-color: rgb(48, 163, 48);
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: block;
}
.btn-div{
    width: 500px;
    margin-top: 20px;
    text-align: center;
}
.show{
    margin-bottom: 0px;
    height: 300px;
}

/* ========================================================== */
.main-bg{
    padding: 100px 20px;
    background-color: gray;
    text-align: center;
}
.black-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 5;
    padding: 30px;
    display: none;
}
.showModal{
    display: block;
}
.white-bg{
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.form-control{
    width: 200px;
    height: 30px;
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}
.btn-danger{
    margin: auto;
    margin-top: 20px;
    display: block;
}